<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && loginAdmin()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            email="true"
            required
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && email.invalid"
          >
            Email is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="7"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 7 characters
            </div>
          </div>
        </div>
        <div class="form-group d-flex justify-content-center mt-4">
          <button class="btn btn-primary btn-block">
            Login as Admin
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>